.formHeader {
  padding: 0 40px;
  margin-bottom: 40px;
}
/* Items List */
.itemsListDiv {
  padding: 0 40px 60px 40px;
}

.itemsListHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.itemsListHeader > div {
  display: flex;
  flex-direction: column;
  /* padding: 0 10px; */
  margin-right: 20px;
}

.itemLabel {
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #444444;
}

.itemLabelDescription {
  flex: 2;
}
.itemLabelPrice {
  flex: 1;
}
.itemLabelQuantity {
  flex: 1;
}
.itemLabelSubtotal {
  flex: 1;
}

/* Single Item */
.itemDiv {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.itemDiv > div {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
  margin-bottom: 10px;
}

.itemActions {
  position: absolute;
  right: 0;
  display: flex !important;
  align-items: center;
  justify-content: center;
  margin: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 0 !important;
  top: 5px;
}

.itemActions i {
  color: #ec476e;
}

.itemDiv input {
  min-height: 36px;
  border-radius: 4px;
  padding: 0 10px;
  font-size: 16px;
  display: block;
  width: 100%;
  border: 1px solid #f2f3f4;
  color: #3a3e42;
  font-size: 14px;
}

.itemDescription {
  flex: 2;
}

.itemPrice {
  flex: 1;
}

.itemQuantity {
  flex: 1;
}

.itemSubtotal {
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  color: #B4B7BA;
}

/* Buttons */
.bottomBarWrapper {
  position: fixed;
  bottom: 0;
  border-top: 1px solid #f2f3f4;
  width: 100%;
  padding: 10px 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
background: #fff;
}

.btn {
  font-size: 12px;
  color: white;
  border-radius: 4px;
  padding: 5px 10px;
  border: none;
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start
}

.btn-success {
  background: #6bbb69;
}

.btn-primary {
  background: #469fe5;
}

.formActions {
  display: block;
  padding: 10px;
  margin-top: 20px;
}
.formActions .btn {
  margin-right: 10px;
}
