.formWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 40px;
}

/* Header */
/* ====================================================== */
.formHeader {
  padding: 0 40px;
  max-height: 60px;
  flex: 1;
}

/* Content */
/* ====================================================== */
.formContent {
  flex: 1;
  overflow: scroll;
  padding-bottom: 20px;
}

/* Receipt Discount */
.discountWrapper {
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.discountContent {
  display: flex;
  flex-direction: column;
}
.discountAmount {
  flex: 1;
  width: 50%;
}
.discountType {
  flex: 1;
  margin-top: 10px;
}

/* Receipt Note */
.noteWrapper {
  padding: 0 40px;
  margin-top: 40px;
}
textarea.noteContent {
  min-height: 36px;
  border-radius: 4px;
  padding: 10px;
  display: block;
  width: 100%;
  border: 1px solid #f2f3f4;
  color: #3a3e42;
  font-size: 14px;
}

/* Actions */
/* ====================================================== */
.formActionsWrapper {
  border-top: 1px solid #f2f3f4;
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  max-height: 40px;
}

.formActions {
  display: block;
  padding: 10px;
  margin-top: 20px;
}
.formActions .btn {
  margin-right: 10px;
}
