input[type="text"],
input[type="number"] {
  display: block;
  padding: 0 10px;
  width: 100%;
  min-height: 36px;
  border-radius: 4px;
  border: 1px solid #f2f3f4;
  font-size: 14px;
  color: #3a3e42;
}
input[type="radio"] {
  margin-right: 8px;
}
label {
  display: flex;
  align-items: center;
  font-size: 14px;
}
.btn {
  font-size: 12px;
  color: white;
  border-radius: 4px;
  padding: 5px 10px;
  border: none;
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}

.btn-success {
  background: #6bbb69;
}

.btn-primary {
  background: #469fe5;
}

.pageWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 40px;
}

/* Header */
/* ====================================================== */
.pageHeader {
  padding: 0 40px;
  max-height: 60px;
  flex: 1;
}

/* Content */
/* ====================================================== */
.pageContent {
  flex: 1;
  overflow: scroll;
  padding: 0 40px 20px 40px;
}
.pageItem {
    margin-bottom: 20px;
}

/* Footer */
/* ====================================================== */
.pageFooter {
  border-top: 1px solid #f2f3f4;
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  max-height: 40px;
}
