input[type="text"],
input[type="number"] {
  display: block;
  padding: 0 10px;
  width: 100%;
  min-height: 36px;
  border-radius: 4px;
  border: 1px solid #f2f3f4;
  font-size: 14px;
  color: #3a3e42;
}
input[type="radio"] {
  margin-right: 8px;
}
label {
  display: flex;
  align-items: center;
  font-size: 14px;
}
.btn {
  font-size: 12px;
  color: white;
  border-radius: 4px;
  padding: 5px 10px;
  border: none;
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}

.btn-success {
  background: #6bbb69;
}

.btn-primary {
  background: #469fe5;
}
