.invoice {
  position: relative;
  margin-bottom: 20px;
  justify-content: space-around;
  display: flex;
  font-size: 14px;
}

.invoiceNumber {
  flex: 1;
  max-width: 20px;
}
.invoiceId {
  flex: 2;
}
.invoiceCreatedAt {
  flex: 4;
  display: flex;
  justify-content: flex-start;
}
.invoiceCreatedAt > * {
  margin-right: 10px;
}
.invoiceActions {
  position: absolute;
  right: 0;
  min-width: 60px;
  display: flex;
  justify-content: space-around;
}
a.previewInvoice i {
    color: #469FE5;
}
a.removeInvoice i {
    color: #EC476E;
}
