#modal {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    background: #f7f7f9;
}

#modalType {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex: 1;
  padding-top: 10px;
}

#modalType i {
  font-size: 42px;
}

#modalContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 2;
    width: 100%;
}
#modalTitle {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0;
}

#modalMessage {
  color: #464a4c;
  text-align: center;
  padding: 0 40px;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

#modalButtons {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: row;
  border-top: 1px solid rgba(0,0,0,.1);
  padding: 5px 0;
}

#modalButtons a {
  background: #ffffff;
  border: 1px solid rgba(0,0,0,.1);
  padding: 5px 30px;
  border-radius: 4px;
  color: #464a4c;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
  margin: 0 5px;
  -moz-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;
}

#modalButtons a:hover {
  text-decoration: none;
  background: rgb(2, 117, 216);
  color: white;
}

/* Warning Modal */
.modal-warning #modalType i { color: #f0ad4e; }
.modal-warning #modalTitle { color: #f0ad4e; }
.modal-warning #modalButtons { border-top: 4px solid #f0ad4e; }

.modal-info #modalType i { color: #0275d8; }
.modal-info #modalTitle { color: #0275d8; }
.modal-info #modalButtons { border-top: 4px solid #0275d8; }

